@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
body {
  background-color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.navbar {
  background-color: #fff;
  min-height: 80px;
  margin-bottom: 0; }
  .navbar-nav {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #666; }
  .navbar-brand {
    font-size: 26px;
    text-transform: uppercase;
    color: #333;
    line-height: 80px;
    padding: 0 15px; }
    .navbar-brand--900 {
      font-weight: 900; }
    .navbar-brand--700 {
      font-weight: 700; }
    .navbar-brand--400 {
      font-weight: 400; }
    .navbar-brand--300 {
      font-weight: 300; }
    .navbar-brand--100 {
      font-weight: 100; }

.navbar-default .navbar-brand {
  color: #333; }

/*@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/layout.scss";
@import "global/colors.scss";
@import "blocks/btn.scss";
@import "blocks/page-header.scss";
@import "blocks/page-footer.scss";
@import "blocks/header-menu.scss";
@import "blocks/main-navigation.scss";
@import "blocks/main-content.scss";
@import "blocks/features.scss";
@import "blocks/feature-hint.scss";
@import "blocks/feedback-form.scss";
@import "blocks/hotel-request.scss";
@import "blocks/hashtag.scss";
@import "blocks/web-developer.scss";
@import "blocks/popup-success.scss";
@import "blocks/popup-failure.scss";
@import "blocks/photo-gallery.scss";
@import "blocks/photo-item.scss";
@import "blocks/photo.scss";
@import "blocks/video.scss";
@import "blocks/map.scss";
@import "blocks/social-footer.scss";
@import "blocks/social-icon.scss";
@import "blocks/close-btn.scss";
@import "blocks/open-btn.scss";*/
