.navbar{
  background-color: #fff;
  min-height: 80px;
  margin-bottom: 0;
  &-nav {
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #666;
}
  &-brand {
    font-size: 26px;
    text-transform: uppercase;
    color: #333;
    line-height: 80px;
    padding: 0 15px;
    &--900 {
      font-weight: 900;
    }
    &--700 {
      font-weight: 700;
    }
    &--400 {
      font-weight: 400;
    }
    &--300 {
      font-weight: 300;
    }
    &--100 {
      font-weight: 100;
    }
  }
}
.navbar-default .navbar-brand {
  color: #333;
}
